/* === XX Large Device === */
@media only screen and (min-width:1400px){
    .container{
        max-width: 1320px;
    }
}
@media only screen and (min-width:1600px){
    .container{
        max-width: 1440px;
    }
}
/* === X Large Device === */
@media only screen and (max-width:1400px){
    .container{
        max-width: 1140px;
    }
}
@media only screen and (max-width:1200px){
   .container{
        max-width: 1024px;
   }
   .career-area .career-left-text ul li {
        font-size: 1.6rem;
    }
}
/* === Large Device === */
@media only screen and (max-width:1080px){
    .container{
        max-width: 960px;
    }
    .funny-area .funny-card p {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-top: 2rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.6rem;
    }
    .gamer-area .gamer-left-img {
        flex-basis: 60%;
    }
    .gamer-area .gamer-right-text {
        flex-basis: 40%;
    }
    .gamer-area .gamer-right-text p {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
    }
    .gamer-area .gamer-right-text .message p {
        font-size: 1.8rem;
        line-height: 3.5rem;
    }
}
/* === Medium Device === */
@media only screen and (max-width:992px){
    .container{
        max-width: 720px;
    }
    title, .logo {
        font-size: 3.5rem;
        gap: 1rem;
    }
    .header-area nav.menu ul {
        gap: 1.5rem;
    }
    .header-area nav.menu {
        gap: 2rem;
    }
    .header-area nav.menu .follow {
        padding: 1.2rem;
    }
    .header-area nav.menu .follow span, .header-area nav.menu ul li a {
        font-size: 1.6rem;
    }
    .header-area nav.menu .follow span {
        margin-right: 1.5rem;
    }
    .header-area nav.menu .follow a:last-child {
        margin-left: 1rem;
    }
    h3 {
        font-size: 3rem;
    }
    h1 {
        font-size: 5.8rem;
    }
    .banner-area ul.game-feature-list li {
        font-size: 1.6rem;
    }
    .secondary-btn, .btn {
        font-size: 1.6rem;
        padding: 1.5rem 3rem;
    }
    .banner-area ul.game-feature-list {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        gap: 1.2rem;
    }
    .funny-area {
        width: 100%;
        padding-top: 3.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-padding {
        padding: 8rem 0;
    }
    .funny-area .funny-card {
        flex-basis: 47%;
    }
    .gamer-area {
        flex-direction: column;
    }
    .gamer-area .gamer-right-text {
        width: 100%;
        text-align: center;
    }
    .career-section .career-right-img {
        position: relative;
        width: 75%;
        margin: 0 auto;
    }
    .career-area .career-left-text {
        flex-basis: 100%;
    }
    .career-section {
        padding-bottom: 12rem;
    }
    .footer-area ul {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
}
/* === Small Device === */
@media only screen and (max-width:768px){}
@media only screen and (max-width:760px){
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.6rem;
    }
    .container{
        max-width: 540px;
    }
    header.header-section {
        box-shadow: none;
    }
    .header-area {
        flex-direction: column;
        gap: 4rem;
    }
    .header-area nav.menu {
        flex-direction: column;
        gap: 4rem;
    }
    .header-area nav.menu ul {
        gap: 2.5rem;
        flex-direction: column;
        text-align: center;
    }
    .header-area nav.menu .follow span, .header-area nav.menu ul li a {
        font-size: 1.8rem;
    }
    .banner-area {

        flex-direction: column;
    }
    .banner-text-left {
        order: 1;
        position: relative;
        z-index: 1;
    }
    section.banner-section::after {
        width: 47rem;
        height: 47rem;
        left: 50%;
        background-size: contain;
        bottom: -105px;
        transform: translateX(-50%);
        top: unset;
    }
    .banner-area {
        gap: 4.5rem;
    }
    .funny-area {
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }
    .funny-area .funny-card .card-body img{
        width: 100%;
        object-fit: cover;
    }
    .funny-area .funny-card {
        width: 80%;
        margin: 0 auto;
    }
    .game-option-section .game-option-area a.game-opt-btn img {
        width: 3rem;
        height: 3rem;
    }
    .game-option-section .game-option-area a.game-opt-btn {
        font-size: 1.2rem;
        padding: 0.7rem;
    }
    .game-option-section .game-option-area {
        gap: 0.8rem;
    }
    .footer-area .social-icon,
    .footer-area .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-area .footer-menu {
        margin: 6rem auto;
        max-width: 375px;
    }
    .footer-area .social-icon {
        max-width: 375px;
        margin: 0 auto;
        justify-items: center;
    }
    .footer-area .footer-info ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }


}
/* === Extra Small Device === */
@media only screen and (max-width:576px){
    .container{
        max-width: 100%;
        padding: 0 15px;
    }
    .banner-img {
        display: flex;
        gap: 2rem;
    }
    .career-area .career-left-text ul li {
        font-size: 1.4rem;
    }
    .game-option-section .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .game-option-section .game-option-area a.game-opt-btn img {
        width: 2rem;
        height: 2rem;
    }
    .footer-area .footer-info ul,
    .footer-area .footer-menu ul{
        gap: 2rem;
    }
    .footer-area .footer-menu ul li a {
        font-size: 1.4rem;
    }
    .footer-area .footer-info ul {
        grid-template-columns: repeat(2,auto);
    }
    .footer-area .footer-info ul li a {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width:380px){
    .career-area .career-left-text ul li {
        font-size: 1rem;
    }
    .game-option-section .game-option-area a.game-opt-btn {
        font-size: 1rem;
    }
}