/* === Global Css Area Start === */
:root{
    font-size: 62.5%;
    --linear-logo-color:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --primary-color:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --secondary-color:#0B0223;
    --pera-color:#534C64;
    --white-color:#fff;
    --btn-secondary-color:#4EC5F7;
    --menu-color:#3C354F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    background: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color:transparent;
    font-weight: 700;
}
h1{
    font-size: 9.5rem;
    font-weight: 800;
    text-transform: uppercase;
}
h2{
    font-size: 4.8rem;
}
h2 span{
    color: var(--secondary-color);
    -webkit-text-fill-color: var(--secondary-color);
}
h3{
    -webkit-text-fill-color: var(--secondary-color);
    color: var(--secondary-color);
    font-size: 4.8rem;
    font-weight: 600;
    text-transform: uppercase;

}
p{
    color: var(--pera-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}
ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.secondary-btn,
.btn{
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 4rem;
    background: var(--linear-logo-color);
    border-radius: 5rem;
    border: none;
}
.secondary-btn{
    background: var(--btn-secondary-color);
}
title, .logo {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}
title, .logo span{
    color: transparent;
    background: var(--linear-logo-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
title, .logo img{
    margin-right: 2rem;
}
.section-padding{
    padding: 12rem 0;
}
/* === Global Css Area End === */

/* === Header Section Css Area Start === */
header.header-section {
    width: 100%;
    padding: 3rem 0;
    background: var(--white-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-area nav.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.header-area nav.menu ul {
    display: flex;
    gap: 2.5rem;
}
.header-area nav.menu .follow span,
.header-area nav.menu ul li a{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--menu-color);
}
.header-area nav.menu .follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.6rem;
    cursor: pointer;
}
.header-area nav.menu .follow span{
    margin-right: 2.5rem;
}
.header-area nav.menu .follow a:last-child{
    margin-left: 1.4rem;
}
.header-area nav.menu .follow a img{
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
}
/* === Header Section Css Area End === */

/* === Banner Section Css Area Start === */
section.banner-section {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
section.banner-section::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/banner-shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.banner-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.banner-area .banner-right-img {
    flex-basis: 48%;
}
.banner-area .banner-left-text .banner-img {
    display: flex;
    gap: 3.5rem;
}
.banner-area ul.game-feature-list {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.banner-text-left{
    padding-bottom: 1rem;
}
.banner-area ul.game-feature-list li {
    display: flex;
    gap: 1.5rem;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
}
/* === Banner Section Css Area End === */

/* === Funny Section Css Area Start === */
.funny-section {
    width: 100%;
    background: var(--white-color);
}
.funny-section .title-section {
    text-align: center;
    width: 100%;
}
.funny-area {
    width: 100%;
    padding-top: 4.5rem;
    display: flex;
    gap: 2.5rem;
}
.funny-area .funny-card {
    flex-basis: 25%;
    position: relative;
    transition: top 2s;
}
.funny-area .funny-card p{
    color:var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    margin-top: 2.4rem;
}
.funny-area .funny-card .card-body {
    width: 100%;
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;
}
.funny-area .funny-card .card-body .f-card-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
    cursor: pointer;
    background: #0000009e;
    border-radius: 1.6rem;
    border: 3px solid #FF42A5;
    transition: .6s;
}
.funny-area .funny-card .card-body .f-card-hover a{
    color: #FF42A5;
    font-size: 2rem;
    font-weight: 600;
}
.funny-area .funny-card .card-body .f-card-hover img{
    width: 4.8rem;
    height: 4.8rem;
}
.funny-area .funny-card:hover .card-body .f-card-hover {
    /* width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1; */
    top: 0;
}
/* === Funny Section Css Area End === */

/* === Play Instantly Section Css Area Start === */
.play-instant-section {
    width: 100%;
}
.play-instant-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.play-instant-area .right-img {
    position: relative;
}
.play-instant-area .right-img img.img-2 {
    position: absolute;
    bottom: -50px;
    left: -104px;
    width: 275px;
}
.play-instant-area .right-img img.img-1 {
    min-width: 635px;
}
.left-text {
    text-align: right;
    padding-right: 12rem;
}
.left-text p{
    margin-top: 2.5rem;
}
/* === Play Instantly Section Css Area End === */

/* === Gamer Section Css Area Start === */
section.gamer-section {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 5rem 0;
}
.gamer-area {
    width: 100%;
    display: flex;
    gap: 5rem;
    align-items: center;
}
.gamer-area .gamer-left-img {
    flex-basis: 60%;
}
.gamer-area .gamer-left-img img{
   width: 100%;
}
.gamer-area .gamer-right-text {
    flex-basis: 40%;
    text-align: right;
}
.gamer-area .gamer-right-text p {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}
.gamer-area .gamer-right-text .message p {
    color: var(--secondary-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4.5rem;
}
.gamer-area .gamer-right-text .message p span{
    font-weight: 500;
    display: block;
}
/* === Gamer Section Css Area End === */

/* === Career Section Css Area Start === */
.career-section {
    width: 100%;
    background: var(--linear-logo-color);
    position: relative;
}
.career-section .career-right-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}
.career-section .career-right-img img{
    height: 100%;
}
.career-area {
    width: 100%;
    display: flex;
    align-items: center;
}
.career-area .career-left-text{
    flex-basis: 50%;
}

.career-area .career-left-text h2 ,
.career-area .career-left-text p ,
.career-area .career-left-text ul li{
    -webkit-text-fill-color: var(--white-color);
}
.career-area .career-left-text p{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}
.career-area .career-left-text ul li {
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.career-area .career-left-text ul li:last-child {
    margin-bottom: 0rem;
}
.career-area .career-left-text ul li span:last-child{
    text-align: right;
}
.career-area .career-left-text a.btn {
    background: #fff;
    color: #FF42A5;
    margin-top: 4rem;
}
/* === Career Section Css Area End === */






/* === Game Option Section Css Area Start === */
.game-option-section {
    width: 100%;
    background: var(--white-color);
}
.game-option-section .game-option-area {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.game-option-section .game-option-area a.game-opt-btn {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 5rem;
    color: #0B0223;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid transparent;
}
.game-option-section .game-option-area a.game-opt-btn:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
}
.game-option-section .game-option-area a.game-opt-btn img{
    width: 5rem;
    height: 5rem;
}
/* === Game Option Section Css Area End === */

/* === Footer Section Css Area Start === */
.footer-section {
    width: 100%;
    background: var(--secondary-color);
}
.footer-area {
    width: 100%;
    text-align: center;
}
.footer-area .logo{
    color: var(--white-color);
}
.footer-area .footer-menu {
    width: 100%;
    margin: 6rem 0;
}
.footer-area ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.footer-area .footer-menu ul li a{
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.footer-area .social-icon {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}
.footer-area .social-icon img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
.footer-area .footer-info {
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 2.5rem;
}
.footer-area .copyright p,
.footer-area .footer-info ul li a{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 1.6rem;
}
/* === Footer Section Css Area End === */